/** SOMMAIRE

/*------------------------------------*\
  RESET CSS
\*------------------------------------*/
/*------------------------------------*\
  IMAGES
\*------------------------------------*/
/*------------------------------------*\
  COLOR
\*------------------------------------*/
/*------------------------------------*\
  POLICE
\*------------------------------------*/
/*------------------------------------*\
  INTERACTIONS
\*------------------------------------*/
/*------------------------------------*\
  DISPLAY (flexbox)
\*------------------------------------*/
/*------------------------------------*\
  COLOR
\*------------------------------------*/
/*------------------------------------*\
  OTHERS
\*------------------------------------*/

:root{
    --primary: #FE7E17;
    --white: #FFFFFF;
    --gutter: 0.938rem; /*15px*/
    --gutter-1: 0.875rem;/*14px*/
    --gutter-2: 1.25rem;/*20px*/
    --gutter-3: 2.188rem;/*35px*/
}

/*------------------------------------*\
  Reset CSS
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------------------------------*\
  IMAGES
\*------------------------------------*/
#services,#section-hello,.section-twitter,.section-quote{
    background-size: cover;
}

#section-hello{
    background-image: url(../Images/classroom.jpg);
    height: 31rem;
}
#services{
    background-image: url(../Images/services.jpg);
}

.section-twitter{
    background-image: url(../Images/bord-mer.jpg);
}

.section-quote{
    background-image: url(../Images/quai-mer.jpg);
}

#contact{
    background-image: url(../Images/bureau.jpg);
}

img{
    max-width: 100%;
}

/*------------------------------------*\
  COLOR
\*------------------------------------*/
.contact__icon{
    background-color: var(--white);
}

.section-partners,.box__hover:hover{
    background-color: var(--primary);
}

.section-blog__color,.section-quote,.twitter__heading-2,.section__twitter-date,.section-twitter__tweet,.section-twitter__item2,.box__hover:hover,.map__title,.contact__title,.contact-info__item,.contact-info__link:hover,.contact__title2,.slider__title,.slider__info,.slider__caption{
    color: var(--white);
}

.section-twitter__item,.testimonials__author,.menu-nav__item:active,.card-team__social:hover,.blog__read-more,.blog__link:hover,.menu-nav__extra-item:hover,.footer-socialmedia__item:hover,.contact-info__link{
    color: var(--primary);
}

h1,.section-title,.team-text,.card-team__name,.services__text,.about__heading2,.about-barre-progress,.card-team__role,.facts__number,.blog__link, a,.testimonials__function,.quote-einstein__link{
    color: #323232;
}

.section-blog__quote,.section-map__background{
    background-color: #323232;
}

.hidden{
    visibility: hidden;
}

.about__text,.blog__read-more:hover,.footer__legal,.card-team__social,.card-team__details,.footer__legal,.footer-socialmedia__item,.menu-work__item,.blog__date,.blog__text,.testimonials__text,.testimonials__function{
    color: #686868;
}

.card-team__figure,.article-work__item{
    filter: grayscale(100%);
}

.card-team__figure:hover,.article-work__item:hover{
    filter: grayscale(30%);
}

.article-work__item:hover{
    filter: sepia(50%);
}

/*------------------------------------*\
  POLICE
\*------------------------------------*/
.facts__number,.slider__title{
    font-size: 3.5rem;
}

h1,.section-title,.twitter__heading-2{
    font-size: 2.25rem;
}

.quote__text{
    font-size: 1.875rem;
}

.about-title3{
    font-size: 1.5rem;
}

.blog__link,.map__title{
    font-size: 1.25rem;
}

.testimonials__text,.contact__title2{
    font-size: 1.125rem;
}

p,.quote__author,.contact-info__item,.contact-info__link{
    font-size: 0.938rem;
}

.about-barre-progress,.blog__read-more,.testimonials__author{
    font-size: 0.875rem;
}

h1,.section-title,p,.team-text,.card-team__role,.quote__text,.menu-work__item,.map__title,.contact-info__item,.contact-info__link,.contact__title2,.twitter__heading-2{
    font-weight: 300;
}

.menu-nav__item,.about-title3,.about-barre-progress,.card-team__name,.facts__number,.service__heading2,.blog__link,.blog__read-more,.quote__author,.testimonials__author{
    font-weight: 800;
}

h1,.section-title,.about-title3,.about-barre-progress,.card-team__name,.quote__author,.menu-nav__extra-item,.twitter__heading-2,.menu-nav__item,.facts__legend{
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

.menu-nav__item:hover{
    text-decoration: underline;
}

/*------------------------------------*\
  DISPLAY
\*------------------------------------*/
.section-title{
    border-bottom: 0.0625rem solid #FE7E17;
    text-align: center;
}

.section-about,.section-team,.section-facts,.services,.section-blog,.section-testimonials,.section-partners,.section-work{
    padding-right: 5rem;
    padding-left: 5rem;
}

/*MENU*/
.menu,.menu-nav,.menu-nav__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*SOUS-MENU VERTICAL*/
.menu-nav__extra-item{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
}

.menu-nav__item{
    padding: 1rem;
}

/*ABOUT*/
.panel-about-1,.panel-about-2{
    display: flex;
}

.card-about,.card2-about{
    flex: 1;
    padding: 0.5rem;
}

.card1-about{
    flex: 2;
    padding: 0.5rem;
}

.about__text{
    overflow: hidden;
}

/*TEAM*/
.team-text{
    text-align: center;
}

.team-panel{
    display: flex;
    flex: 1;
}

.team-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: 1rem;
}

.card-team__figure,.card-team__name,.card-team__role,.card-team__details{
    text-align: center;
}

.team-reseaux{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.card-team__social{
    padding: 0.3rem;
}

/*SOME FUN FACTS*/
.panel-facts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card1-facts,.card2-facts,.card3-facts,.card4-facts{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
}

/*SERVICES*/
.services__panel{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.services-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 2rem;
    border: 0.05rem solid grey;
}

.services-box box__hover{
    padding: 1rem;
    border: 1rem;
    border-color: gray;
}

/*FROM THE BLOG*/
.section-blog__panel{
    display: flex;
}

.section-blog__card{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.section-blog__article{
    justify-content: space-around;
    padding: 1rem;
}

.card-quote-1{
    background-color: #323232;
    color: whitesmoke;
    margin: 1rem;
    padding: 1rem;
    border-color: white;
}

.card-quote-2{
    margin: 1rem;
    padding: 1rem;
    border-color: white;
}

/*PARTNERS*/
.section-partners__panel{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.partners__img1,..partners__img2,.partners__img3,.partners__img4,.partners__img5,.partners__img6{
    flex-grow: 1;
    padding: 1rem;
}

/*CONTACT*/
.section-contact{
    background-color: #323232;
}

.contact__panel{
    display: flex;
}

.contact__card-1,.contact__card-2{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.contact__card-2{
    align-items: flex-start;
}

/*------------------------------------*\
  INTERACTIONS
\*------------------------------------*/
.box__hover:hover,.menu-work__item:hover,.card-team__figure:hover,.article-work__item:hover,.extra-menu__item:hover,.blog__image:hover,.footer-socialmedia__item:hover,.contact-info__link:hover{
    transition: 0.5s;
}

.box__hover,.menu-work__item,.card-team__figure,.article-work__item,.extra-menu__item,.blog__image,.footer-socialmedia__item,.contact-info__link{
    transition: ease-out 0.5s;
}

.blog__image:hover{
    filter: brightness(50%);
}

.menu-work__item{
    border: 0.01rem solid #FFFFFF;
}

.menu-work__item:hover{
    border: 0.01rem solid #FE7E17;
}
.card-team__figure:hover,.article-work__item:hover,.blog__image:hover{
    transform: scale(1.01);
}

.footer-socialmedia__item{
    border: solid #686868 0.01rem;
}

.slider__title{
    border: #FFFFFF solid 0.1rem;
}

/*------------------------------------*\
  OTHER
\*------------------------------------*/
html{
    scroll-behavior: smooth;
}

/* Progress bar */
progress{
    width: 100%;
    height: 0.625rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    display: flex;
}
progress[value]{
    -webkit-appearance: none;
     appearance: none;
}
progress[value]::-webkit-progress-bar {
    background-color: #EFEFEF;    
}
progress[value]::-webkit-progress-value{
    background-color: var(--primary);
}
